extends /layouts/detail
include /mixins/fancybox

block title
    | Venecija


block jumbo
    +fancybox('/img/cities/ceska.jpg')

block description
    - var images = ['/img/cities/ceska.jpg', '/img/cities/ceska.jpg', '/img/cities/ceska.jpg', '/img/cities/ceska.jpg']
    .ui.row
        each image in images
            .ui.column
                +fancybox_small(image)

