extends /layouts/layout
include /mixins/lorem
include /mixins/list_item
include /mixins/breadcrumbs

append body
    #content.ui.container
        +breadcrumbs(['Home', 'Summer', 'Crna Gora'])
        +list_item("/img/summer/crnagora/budva.jpg", "", "/summer/crnagora/budva.html")

