extends /layouts/detail
include /mixins/fancybox

block title
    | Hanioti


block jumbo
    +fancybox('/img/summer/grcka/halkidiki/hanioti/1.jpg')

block description
    - var images = ['/img/summer/grcka/halkidiki/hanioti/1.jpg', '/img/summer/grcka/halkidiki/hanioti/2.jpg', '/img/summer/grcka/halkidiki/hanioti/3.jpg']
    .ui.row
        each image in images
            .ui.column
                +fancybox_small(image)

