html {
    height: 100%;
}

body {
    background: url('../img/blue.jpg');
}

#header {
    margin-bottom: 0;
}

#sidebar {
    position: absolute;
    top: 62px;
}

#content {
    position: relative;
    top: 20px;
}

#content img {
    border: 3px solid white;
}

.list.description {
    color: white;
    font-size: 18pt;
}

.list.description .segment {
    background: darken(#81C6C1, 10%);
    border-color: white;
}

a {
    color:black;
}

#reserve {
    text-align: left;
}

#title {
    color: white;
    font-size: 72pt;
}

.fancybox img {
    margin: 0 auto;
}
