extends /layouts/detail
include /mixins/fancybox
include /mixins/lorem

block title
    | Lefkada

block jumbo
    +fancybox('/img/cities/ceska.jpg')

block description
    .ui.row
        .ui.segment
            h1 O odmaralistu
            +lipsum(20, "sentences")

    .ui.row
        - var images = ['/img/cities/ceska.jpg', '/img/cities/ceska.jpg', '/img/cities/ceska.jpg', '/img/cities/ceska.jpg']
        each image in images
            .ui.four.wide.column
                +fancybox_small(image)
