extends ../layouts/layout
include ../mixins/lorem
include ../mixins/list_item
include ../mixins/breadcrumbs

append body
    #content.ui.container
        +breadcrumbs(['Home', 'Nova Godina'])
        +list_item("/img/novagodina/pariz.jpg", "", "novagodina/pariz.html")
        +list_item("/img/novagodina/barselona.jpg", "", "novagodina/barselona.html")
        +list_item("/img/novagodina/london.jpg", "", "novagodina/london.html")

