extends ../layouts/layout
include ../mixins/lorem
include ../mixins/list_item
include ../mixins/breadcrumbs

append body
    #content.ui.container
        +breadcrumbs(['Home', 'Summer'])
        +list_item("/img/summer/spanija.jpg", "Neki tekst", "summer/spanija.html")
        +list_item("/img/summer/grece.jpg", "Neki tekst", "summer/grcka.html")
        +list_item("/img/summer/italia.jpg", "Neki tekst", "summer/italija.html")
        +list_item("/img/summer/montenegro.jpg", "Neki tekst", "summer/crnagora.html")

