mixin fancybox(img)
    a.ui.massive.image.fancybox(rel="group", href=img)
        img(src=img)

mixin fancybox_small(img)
    a.ui.large.image.fancybox(rel="group", href=img)
        img(src=img)

append head
    link(rel="stylesheet", type="text/css", href="/js/fancybox/source/jquery.fancybox.css")
    script(src="/js/fancybox/source/jquery.fancybox.js")

append footerscripts
    script.
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });

