mixin list_item(img, text, link)
    .ui.grid
        .five.wide.column
            a.ui.medium.image(href=link)
                img(src=img)
        .eleven.wide.column.list.description
            .ui.segment
                p
                    +lipsum(10, "sentences")
