.ui.container
    .ui.segment
        #reserve.ui.form
            .field
                label Name
                input(type="text" name="name" placeholder="Name")
            .field
                label Address
                input(type="text" name="name" placeholder="Name")
            .field
                label Date
                input(type="date" name="date" placeholder="Date")

            button.ui.button(type="submit", onclick="reserve()") Submit

