#sidebar.ui.visible.sidebar.vertical.menu
    a.active.teal.item Home
    a.item About
    a.item Summer 2016
    a.item European Cities
.ui.container.grid
    .six.wide.column
        block left
    .ten.wide.column
        block content
