doctype html

html
    head
        link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
        link(rel="stylesheet", type="text/css", href="css/style.css")
        script(src="js/jquery-2.2.4.min.js")
        script(src="semantic/dist/semantic.min.js")
    body
        block nav
            .ui.large.top.fixed.menu
                .ui.container
                    .item 
                        h2 Travel Agency
                    a.active.item Home
                    a.item About
                    a.item Summer 2016
                    a.item European Cities

                    .right.menu
                        a.item Right menu

        block content

        block footer
