doctype html

html
    head
        link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
        link(rel="stylesheet", type="text/css", href="css/style.css")
        script(src="js/jquery-2.2.4.min.js")
        script(src="semantic/dist/semantic.min.js")
    body
        block nav
            #header.ui.large.top.menu
                .ui.container
                    .item
                        h2 Travel Agency
                    a.active.item(href="index.html") Home
                    .ui.simple.dropdown.item
                        a(href="sumer.html") Sumer 2016
                        i.dropdown.icon
                        .menu
                            .ui.simple.dropdown.item
                                a(href="sumer/spanija.html") Spanija
                                i.dropdown.icon
                                .menu
                                    a.item(href="costabrava.html") Costa Brava / Lioret de Mare
                            .ui.simple.dropdown.item
                                a(href="grcka.html") Grcka
                                i.dropdown.icon
                                .menu
                                    .ui.simple.dropdown.item
                                        a(href="ostrva.html") Ostrva
                                        i.dropdown.icon
                                        .menu
                                            a.item(href="krf.html") Krf
                                            a.item(href="lefkada.html") Lefkada - Nidri
                                            a.item(href="zakintos.html") Zakintos
                                    .ui.simple.dropdown.item
                                        a(href="halkidiki.html") Halkidiki
                                        i.dropdown.icon
                                        .menu
                                            a.item(href="pefkohori.html") Pefkohori
                                            a.item(href="hanioti.html") Hanioti
                                    a.item(href="parga.html") Parga
                            .ui.simple.dropdown.item
                                a(href="italija_leto.html") Italija
                                i.dropdown.icon
                                .menu
                                    a.item(href="rimini.html") Rimini
                                    a.item(href="sicilija.html") Sicilija
                            .ui.simple.dropdown.item
                                a(href="crnagora.html") Crna Gora
                                i.dropdown.icon
                                .menu
                                    a.item(href="budva.html") Budva
                    .ui.simple.dropdown.item
                        a(href="zimovanja.html") Zimovanja
                        i.dropdown.icon
                        .menu
                            .ui.simple.dropdown.item
                                a(href="srbija_zimovanja.html") Srbija
                                i.dropdown.icon
                                .menu
                                    a.item(href="satelit_apartmani_zlatibor.html") Satelit apartmani Zlatibor
                                    a.item(href="jat_apartmani.html") Kopaonik - JAT Apartmani
                                    a.item(href="grand_hotel.html") Grand hotel & spa ****
                                    a.item(href="konaci.html") Apartmani konaci ****
                            .ui.simple.dropdown.item
                                a(href="bugarska.html") Bugarska
                                i.dropdown.icon
                                .menu
                                    a.item(href="bansko.html") Bansko
                                    a.item(href="borovec.html") Borovec
                    .ui.simple.dropdown.item
                        a(href="evropski_gradovi.html") Evropski gradovi
                        i.dropdown.icon
                        .menu
                            .ui.simple.dropdown.item
                                a(href="italija_gradovi.html") Italija
                                i.dropdown.icon
                                .menu
                                    a.item(href="venecija.html") Venecija
                                    a.item(href="djenova.html") Djenova
                            .ui.simple.dropdown.item
                                a(href="ceska.html") Ceska
                                i.dropdown.icon
                                .menu
                                    a.item(href="prag.html") Prag
                    .ui.simple.dropdown.item
                        a(href="novagodina.html") Noga godina 2016
                        i.dropdown.icon
                        .menu
                            a.item(href="pariz.html") Pariz
                            a.item(href="barselona.html") Barselona
                            a.item(href="london.html") London
                    .ui.simple.dropdown.item
                        a(href="about.html") O nama
                        i.dropdown.icon
                        .menu
                            a.item(href="uslovi.html") Opšti uslovi putovanja
                            a.item(href="subagentura.html") Ugovor o subagenturi 2016
                            a.item(href="potvrda.html") Potvrda o garanciji

        block body

        block footer
