doctype html

html
    head
        link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
        link(rel="stylesheet", type="text/css", href="css/style.css")
        script(src="js/jquery-2.2.4.min.js")
        script(src="semantic/dist/semantic.min.js")
    body
        block nav
            #header.ui.large.top.menu
                .ui.container
                    .item
                        h2 Travel Agency
                    a.active.item Home
                    .ui.simple.dropdown.item Sumer 2016
                        i.dropdown.icon
                        .menu
                            .ui.simple.dropdown.item Spanija
                                i.dropdown.icon
                                .menu
                                    a.item Costa Brava / Lioret de Mare
                            .ui.simple.dropdown.item Turska
                                i.dropdown.icon
                                .menu
                                    .ui.simple.dropdown.item Sarimsakli
                                        i.dropdown.icon
                                        .menu
                                            a.item Grand Temizel *****
                                            a.item Büyük Berk ****
                                            a.item Çınar ***+
                                    .ui.simple.dropdown.item Ayvalik
                                        i.dropdown.icon
                                        .menu
                                            a.item Haliç Park *****
                                            a.item Ayvalik beach resort ***
                                    a.item Cenovnik Turska 2016
                            .ui.simple.dropdown.item Grcka
                                i.dropdown.icon
                                .menu
                                    .ui.simple.dropdown.item Ostrva
                                        i.dropdown.icon
                                        .menu
                                            a.item Krf
                                            a.item Lefkada - Nidri
                                            a.item Zakintos
                                    .ui.simple.dropdown.item Halkidiki
                                        i.dropdown.icon
                                        .menu
                                            a.item Pefkohori
                                            a.item Hanioti
                                    a.item Parga
                            .ui.simple.dropdown.item Italija
                                i.dropdown.icon
                                .menu
                                    a.item Rimini
                                    a.item Sicilija
                            .ui.simple.dropdown.item Crna Gora
                                i.dropdown.icon
                                .menu
                                    a.item Budva
                    .ui.simple.dropdown.item Zimovanja
                        i.dropdown.icon
                        .menu
                            .ui.simple.dropdown.item Srbija
                                i.dropdown.icon
                                .menu
                                    a.item Satelit apartmani Zlatibor
                                    a.item Kopaonik - JAT Apartmani
                                    a.item Grand hotel & spa ****
                                    a.item Apartmens konaci ****
                            .ui.simple.dropdown.item Bugarska
                                i.dropdown.icon
                                .menu
                                    a.item Bansko
                                    a.item Borovec
                    a.item About
                    a.item European Cities

                    .right.menu
                        a.item Right menu

        block body

        block footer
