doctype html

html
    head
        block head
            link(rel="stylesheet", type="text/css", href="/semantic/dist/semantic.min.css")
            link(rel="stylesheet", type="text/css", href="/css/style.css")
            script(src="/js/jquery-2.2.4.min.js")
            script(src="/semantic/dist/semantic.min.js")
    body
        block nav
            #header.ui.large.top.menu
                .ui.container
                    .item
                        h2 Travel Agency
                    a.active.item(href="/index.html") Home
                    .ui.simple.dropdown.item
                        a(href="/summer.html") Sumer 2016
                        i.dropdown.icon
                        .menu
                            .ui.simple.dropdown.item
                                a(href="/summer/spanija.html") Spanija
                                i.dropdown.icon
                                .menu
                                    a.item(href="/summer/spanija/costabrava.html") Costa Brava / Lioret de Mare
                            .ui.simple.dropdown.item
                                a(href="/summer/grcka.html") Grcka
                                i.dropdown.icon
                                .menu
                                    .ui.simple.dropdown.item
                                        a(href="/summer/grcka/ostrva.html") Ostrva
                                        i.dropdown.icon
                                        .menu
                                            a.item(href="/summer/grcka/ostrva/krf.html") Krf
                                            a.item(href="/summer/grcka/ostrva/lefkada.html") Lefkada - Nidri
                                            a.item(href="/summer/grcka/ostrva/zakintos.html") Zakintos
                                    .ui.simple.dropdown.item
                                        a(href="/summer/grcka/halkidiki.html") Halkidiki
                                        i.dropdown.icon
                                        .menu
                                            a.item(href="/summer/grcka/halkidiki/pefkohori.html") Pefkohori
                                            a.item(href="/summer/grcka/halkidiki/hanioti.html") Hanioti
                                    a.item(href="/summer/grcka/parga.html") Parga
                            .ui.simple.dropdown.item
                                a(href="/summer/italija.html") Italija
                                i.dropdown.icon
                                .menu
                                    a.item(href="/summer/italija/rimini.html") Rimini
                                    a.item(href="/summer/italija/sicilija.html") Sicilija
                            .ui.simple.dropdown.item
                                a(href="/summer/crnagora.html") Crna Gora
                                i.dropdown.icon
                                .menu
                                    a.item(href="/summer/crnagora/budva.html") Budva
                    .ui.simple.dropdown.item
                        a(href="/zimovanja.html") Zimovanja
                        i.dropdown.icon
                        .menu
                            .ui.simple.dropdown.item
                                a(href="/zimovanja/srbija.html") Srbija
                                i.dropdown.icon
                                .menu
                                    a.item(href="/zimovanja/srbija/satelit-zlatibor.html") Satelit apartmani Zlatibor
                                    a.item(href="/zimovanja/srbija/jat-kopaonik.html") Kopaonik - JAT Apartmani
                                    a.item(href="/zimovanja/srbija/grand.html") Grand hotel & spa ****
                                    a.item(href="/zimovanja/srbija/konaci.html") Apartmani konaci ****
                            .ui.simple.dropdown.item
                                a(href="/zimovanja/bugarska.html") Bugarska
                                i.dropdown.icon
                                .menu
                                    a.item(href="/zimovanja/bugarska/bansko.html") Bansko
                                    a.item(href="/zimovanja/bugarska/borovec.html") Borovec
                    .ui.simple.dropdown.item
                        a(href="/evropski_gradovi.html") Evropski gradovi
                        i.dropdown.icon
                        .menu
                            .ui.simple.dropdown.item
                                a(href="/cities/italija.html") Italija
                                i.dropdown.icon
                                .menu
                                    a.item(href="/cities/italija/venecija.html") Venecija
                                    a.item(href="/cities/italija/djenova.html") Djenova
                            .ui.simple.dropdown.item
                                a(href="/cities/ceska.html") Ceska
                                i.dropdown.icon
                                .menu
                                    a.item(href="/cities/ceska/prag.html") Prag
                    .ui.simple.dropdown.item
                        a(href="/novagodina.html") Noga godina 2016
                        i.dropdown.icon
                        .menu
                            a.item(href="/novagodina/pariz.html") Pariz
                            a.item(href="/novagodina/barselona.html") Barselona
                            a.item(href="/novagodina/london.html") London
                    .ui.simple.dropdown.item O nama
                        i.dropdown.icon
                        .menu
                            a.item(href="/about/uslovi.html") Opšti uslovi putovanja
                            a.item(href="/about/subagentura.html") Ugovor o subagenturi 2016
                            a.item(href="/abput/potvrda.html") Potvrda o garanciji

        block body

        block footer

        block footerscripts
